%ul
      <li><a href="/module/Enumerable">Enumerable</a></li>
      <li><a href="/module/Kernel">Kernel</a></li>
      <li><a href="/module/Capybara::Node::Actions">Capybara::Node::Actions</a></li>
      <li><a href="/module/Capybara::Node::Matchers">Capybara::Node::Matchers</a></li>
      <li><a href="/module/ActionView::Helpers::FormHelper">ActionView::Helpers::FormHelper</a></li>